@{
    Layout = null;
    ViewBag.DbSnap = (Newtonsoft.Json.Linq.JObject)ViewBag.DbSnap;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сущности в проекте</title>
    <link rel="stylesheet" href="css/tables_pages.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="~/admin" class="back">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 37" fill="none">
                    <path d="M18.5 34L3 18.5L18.5 3" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p>Назад</p>
            </a>
            <div class="title">Таблицы</div>
        </div>

        <div class="tables_set">
            @foreach (var table in ViewBag.DbSnap)
            {
                @if (@table.Value.Count > 0)
                {
                    <a href="/admin/tableview?tablename=@table.Name" class="table">
                        <div class="wrapper">
                            <div class="title">@table.Name</div>
                            <div class="description">Кол-во записей: @table.Value.Count<br>Последнее обновление: нет данных</div>
                        </div>
                    </a>
                }
                else
                {
                    <a href="#" class="table disabled">
                        <div class="wrapper">
                            <div class="title">@table.Name</div>
                            <div class="description">Кол-во записей: @table.Value.Count<br>Последнее обновление: нет данных</div>
                        </div>
                    </a>
                }
            }
            <a href="#" class="table add-table">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74 74" fill="none">
                    <path d="M37 0C38.2266 0 39.403 0.487275 40.2704 1.35463C41.1377 2.22199 41.625 3.39837 41.625 4.625V32.375H69.375C70.6016 32.375 71.778 32.8623 72.6454 33.7296C73.5127 34.597 74 35.7734 74 37C74 38.2266 73.5127 39.403 72.6454 40.2704C71.778 41.1377 70.6016 41.625 69.375 41.625H41.625V69.375C41.625 70.6016 41.1377 71.778 40.2704 72.6454C39.403 73.5127 38.2266 74 37 74C35.7734 74 34.597 73.5127 33.7296 72.6454C32.8623 71.778 32.375 70.6016 32.375 69.375V41.625H4.625C3.39837 41.625 2.22199 41.1377 1.35463 40.2704C0.487275 39.403 0 38.2266 0 37C0 35.7734 0.487275 34.597 1.35463 33.7296C2.22199 32.8623 3.39837 32.375 4.625 32.375H32.375V4.625C32.375 3.39837 32.8623 2.22199 33.7296 1.35463C34.597 0.487275 35.7734 0 37 0V0Z" />
                </svg>
            </a>
        </div>
    </div>
</body>
</html>